@font-face {
    font-family: 'd-dindin-bold';
    src: url('/fonts/d-din-bold-webfont.woff2') format('woff2'),
        url('/fonts/d-din-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'd-dinregular';
    src: url('/fonts/d-din-webfont.woff2') format('woff2'),
         url('/fonts/d-din-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'd-din_expregular';
    src: url('/fonts/d-dinexp-webfont.woff') format('woff2'),
         url('/fonts/d-dinexp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'd-din_expdinexp-bold';
    src: url('/fonts/d-dinexp-webfont.woff') format('woff2'),
         url('/fonts/d-dinexp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'd-din_condenseddinCnBd';
    src: url('/fonts/d-dinexp-webfont.woff') format('woff2'),
         url('/fonts/d-dinexp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}


:root{
    --font-family1: 'd-dindin-bold', Arial, Verdana, sans-serif;
    --font-family2: 'd-dinregular', Arial, Verdana, sans-serif;
    --font-family3: 'd-din_condenseddinCnBd', Arial, Verdana, sans-serif;
    --font-family4: 'd-din_expregular', Arial, Verdana, sans-serif;
    --font-family5: 'd-din_expdinexp-bold', Arial, Verdana, sans-serif;
    --text-color: rgb(255, 255, 255);
    --ionicon-stroke-weight1: 24px;
    --ionicon-stroke-weight2: px;
}
  
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
:root{
    --variable-name: value;
}

ul{
    list-style: none;
}

hr{
    opacity: 20%;
}
  
a{
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

nav{
    background-color: transparent;
}

.hamburger{
    float: right;
    padding: 2.7% 4% 0 0;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 28px;
    font: 700;
    cursor: pointer;
    position: sticky;
    z-index: 1;
}

.burger-close{
    display: none;
    z-index: 1;
}

.logo{
    margin: 2.5% 0 0 3%;
    cursor: pointer;
}

.up{
    display: flex;
    margin: -1.5% 0 0 22%;
    gap: 2.8%;
    font-family: var(--font-family1);
    font-size: 14px;
}

.upshop{
    margin-left: 13.5rem;
}

.up a{
    position: relative;
    color: var(--text-color);
}
  
.up li a:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--text-color);
    visibility: visible;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in-out;
}

.up li a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}

.right{
    float: right;
    margin: -5% -7%;
    transform: translateX(120%);
    transition: transform 0.8s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    padding: 7% 5% 4% 16%;
    text-align: right;
    font-family: var(--font-family2);
    display: none;
}

.showRight{
    transform: translateX(0);
}

.a:hover a{
    color: gray;
}

.right li{
    padding: 5% 0 30% 0;
}

.rightall{
    /* position: relative;
    background-color: black;
    float: right;
    transform: translateX(120%);
    transition: transform 0.8s;
    font-family: var(--font-family2);
    text-align: right;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    padding: 13% 5% 6% 20%; */
    float: right;
    position: absolute;
    text-align: right;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: var(--font-family2);
    background-color: black;
    padding: 5% 5% 5% 30%;
    margin-left: 40%;
    transform: translateX(120%);
    transition: transform 0.8s;
}

.showRightAll{
    transform: translateX(0);
}

.b:hover a{
    color: gray;
    transition: 0.8s ease-in-out;
}

.rightall li{
   padding-top: 15%;
}

.smallwidth{
    display: none;
}

.launch-class{
    padding: 25% 0 7% 3.5%;
    color: var(--text-color);
}

.launch-class h2{
    font-family: var(--font-family1);
    font-size: 50px;
}

.launch-class h4{
    font-family: var(--font-family2);
    font-size: 20px;
    font-weight: lighter;
}

.rewatch{
    margin-top: 3%;
}

.rewatch a{
    padding: 15px 45px 15px 45px;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    font-family: var(--font-family1);
    font-weight: 900;
    box-shadow: inset 10 10 10 10 var(--text-color);
    transition: box-shadow 0.5s ease-in-out;
}

.rewatch :hover {
    display: inline;
    color: black;
    box-shadow: inset 180px 0 0 1px var(--text-color);
}

.scroll-down{
    color: var(--text-color);
    text-align: center;
}

.icon-arrow-scroll{
    font-size: 38px;
    color: var(--text-color);
    -webkit-animation: scrolling 3s ease infinite;
    -moz-animation: scrolling 3s ease infinite;
    -o-animation: scrolling 3s ease infinite;
    animation: scrolling 3s ease infinite;
}
  
@keyframes scrolling{
    0%{
      transform: translate(0);
    }
    50%{
      transform: translate(0, 10px);
    }
    100%{
      transform: translate(0);
    }
}

.section1{
    background-image: url(images/one.jpg);
    background-size: cover;
    background-position: top;
}

.section2{
    background-image: url(/images/two.jpg);
    background-size: cover;
    background-position: top;
}

.section3{
    background-image: url(/images/three.jpg);
    background-size: cover;
    background-position: top;
}

.section4{
    background-image: url(/images/four.jpg);
    background-size: cover;
    background-position: top;
}

.section5{
    background-image: url(/images/five.jpg);
    background-size: cover;
    background-position: top;
}

.section6{
    background-image: url(/images/six.jpg);
    background-size: cover;
    background-position: top;
}

footer{
    background-color: black;
    display: flex;
    font-family: var(--font-family1);
}
  
footer p{
    color: gray;
    font-size: 11px;
}
  
footer ul{
    font-size: 11px;
}

.foot{
    font-weight: lighter;
    position: absolute;
    margin-top: 3%;
    margin-left: 22%;
}
  
.foot2{
    position: absolute;
    margin-left: 42%;
    margin-top: 4%;
    display: none;
}
  
.socials{
    display: flex;
    margin: 3% 20% 3% 33%;
    gap: 30px;
}
  
.socials :hover{
    color: gray;
    transition: 0.8s ease-in-out;
}

.sup2{
    position: absolute;
    margin-left: 40%;
    margin-top: 5%;
    display: none;
}


@media screen and (max-width: 768px){
    
    .up{
        display: none;
    }

    .icon-arrow-scroll{
        display: none;
    }

    .right{
        display: none;
    }

    .rightall{
        display: none;
    } 

    .logo{
        position: sticky;
        z-index: 1;
        margin: 2% 0 0 32%;
    }

    .launch-class{
        position: relative;
        padding: 25% 0 7% 3.5%;
        color: var(--text-color);
    }
    
    .launch-class h2{
        font-family: var(--font-family1);
        font-weight: 400;
        font-size: 35px;
        line-height: 30px;
    }
    
    .launch-class h4{
        font-family: var(--font-family2);
        font-size: 16px;
        line-height: 25px;
        font-weight: lighter;
    }
    
    .rewatch{
        margin-top: 6%;
    }

    .largewidth{
        display: none
    }
    
    .smallwidth{
        display: block;
    }

    .foot{
        display: none;
    }

    .foot2{
        display: block;
        margin-top: 4%;
        font-size: 11px;
    }

    .socials{
        display: flex;
        margin: 8% 0 6% 15%;
        gap: 20px;
        font-size: 11px;
    }

}
    
@media screen and (max-width: 420px){
    .logo{
        width: 20%;
        margin-left: 38%;
    }

    .sup2{
        margin-bottom: 1%;
        display: block;
    }

    .foot2{
        display: block;
        margin-top: 4%;
        font-size: 12px;
    }

    .right{
        display: none;
    }

    .rightall{
        display: none;
    } 

    .socials{
        margin: 8% 0 6% 5%;
        gap: 10px;
        font-size: 10px;
    }
}

      

